
//fix for md-no-atuogrow
//taken from https://github.com/angular/material/issues/2039#issuecomment-166942728
md-input-container textarea[md-no-autogrow].md-input {
  height: inherit;
  overflow-y: auto;
}

.mv-error-text {
  color: red;
}

.blue {
  background-color: #01579b
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      md-icon {
        fill: rgb(141, 224, 59);
      }
    }
  }

  &.readonly .star.filled {
    fill: grey;
  }
}

.center {
  text-align: center;
}

.tool-buttons {
  position: relative;
  right: calc(-50% + 10px);
}