#postWrapper {
  max-width: 960px !important;
  left:-200px;
  width:100%;
  height:auto;
  background: #f2f2f2;
  margin:auto;
}

#video_container {
  width:450px;
  height:350px;

  video {
    positio: inherit;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
  }
}


#tabs {
  width: 250px;
}

#answers ul {
  list-style: none;
}

.answer {
  width: 100%;

  .md-avatar {
    height: 40px;
    margin-right: 10px;
  }
  .usercard {
    padding: 10px;
    width: 200px;
    background: transparent;
  }
}

.vote {
  height: 100px;

  .green {
    fill: green;
  }
  .red {
    fill: red;
  }


}

.comment .date {
  color: darkgray;
  font-size: 0.8em;
  background-color: transparent;
}

.comment .user {
  font-size: 0.7em;
  background-color: transparent;
}

