.mv-display-pic {
  width: 100%;
}

.round-button {
  width:182px;
  height:182px;
  img {
    width: 100%;
  }
}

#profileWrapper {
  max-width: 960px !important;
  left:-200px;
  width:100%;
  height:auto;
  background: #f2f2f2;
  margin:auto;
  text-align: left;
}

#pic {
  width:300px;
  layout-align:center;
}

#header {
  background-color: #595959;
  border: outset;
  color: white;
  text-align: center;
  padding: 4px;
}

#headerOwn {
  background-color: #595959;
  border: outset;
  color: white;
  text-align: center;
  padding: 4px;
}

#ratingInfo{
  margin-left: 40px;
}

.md-body-1 {
  font:12pt/10pt sans-serif;
}

.md-button.md-whatsong-theme:hover:not([disabled]) {
  background: none;

}

#dv1{
  margin-left: 0px;
  width:450px;
}

#list {
  font: 200 12pt/1.5 sans-serif;
}
