.mv-display-pic {
  width: 100%;
}

.round-button {
  width:182px;
  height:182px;
  img {
    width: 100%;
  }
}

#profileWrapper {
  max-width: 960px !important;
  left:-200px;
  width:100%;
  height:auto;
  background: white;
  margin:auto;
  text-align: center;
}


.md-button.md-whatsong-theme:hover:not([disabled]) {
  background: none;

}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}

.filled md-icon{
  fill: rgb(141, 224, 59);
}