<md-dialog class="mv-create-dialog" controller="UserController">
    <form name="clipForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload New profile Picture</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <input ngf-select ng-model="picFile" type="file" name="file" accept="image/*" ngf-accept="'image/*'" ng-model-rejected="rejectedFile" ngf-max-height="1000" ngf-max-size="2MB"></input>
            <p class="mv-error-text"><i ng-show="clipForm.file.$error.maxSize">File too large. Max 2 MB</i></p>
            <p class="mv-error-text"><i ng-show="clipForm.file.$error.maxHeight"> Picture too large. Max 1000 px</i></p>

        </md-dialog-content>
    </form>
    <md-button ng-click="save()">Save</md-button>
</md-dialog>
