<md-content>
    <div layout="row" layout-align="center">
        <md-toolbar id="video_container" layout="row">
            <video id="video_stream"></video>
        </md-toolbar>
    </div>
    <div layout="row" layout-align="center center" layout-padding>
        <md-button class="md-raised" id="start-recording" ng-click="startRecording()" ng-disabled="!Vars.camera || Vars.recording">Start Recording</md-button>
        <md-button class="md-raised md-warn" id="stop-recording" ng-click="stopRecording()" ng-disabled="!Vars.recording">Stop Recording</md-button>
        <md-button class="md-raised launch" id="save-recording" ng-click="saveRecording()" ng-disabled="!Vars.ready">Save File</md-button>
        <md-button class="md-raised md-warn" id="cancel-recording" ng-click="cancelRecording()" ng-disabled="!Vars.camera">Cancel</md-button>
    </div>
</md-content>