<div ng-app="myapp.posts" layout="column" id="postWrapper" layout-padding controller="PostDetailController" post>
    <div class="center" ng-show="!editing">
        <md-menu class="tool-buttons" ng-show="mayEdit" ng-disabled="!mayEdit" ng-cloak>
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Post-Toolbar"><md-icon md-menu-origin md-svg-icon="action:ic_settings_24px"></md-icon></md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="edit()" aria-label="Edit Request">Edit<md-icon md-menu-origin md-svg-icon="editor:ic_mode_edit_24px"></md-icon></md-button>
                    </md-menu-item>
                </md-menu-content>
        </md-menu>
        <div layout="row" layout-align="center">
            <md-toolbar id="video_container" layout="row" style="width:450px;height:350px;">
                <video id="real_video" ng-src="{{mediaUrl}}" style="position:inherit;" controls></video>
            </md-toolbar>
        </div>
        <br>
        <br>

    </div>
    <div class="center" ng-if="editing" ng-controller="RequestController">
        <form method="post">
            <textarea ui-tinymce="tinymceOptions" ng-model="request"></textarea>
            <md-button class="md-raised" ng-click="save()">Save</md-button>
            <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
        </form>
    </div>

    <div>Rate performance:<star-rating ng-model="personalRating.rating" on-rating-select="rated(rating)"></star-rating> Current Rating: {{post.rating}}</div>

    <div layout="row" layout-align="start center" flex>
        <div class="md-title">{{post.comments.length}} Answer{{post.comments.length != 1 ? 's' : ''}}</div>
        <span flex></span>
        <md-tabs id="tabs" md-selected="select.selectedIndex" md-autoselect>
            <md-tab ng-repeat="tab in tabs" label="{{tab.title}}"></md-tab>
        </md-tabs>
    </div>
    <md-divider></md-divider>
    <div id="answers">
        <script type="text/ng-template" id="categoryTree">
            <p class="comment">{{ comment.text }} - <a class="user" ui-sref="profiles.detail({username: comment.user.username})"> {{comment.user.username}}</a> <span class="date"> {{comment.date | date:"MMM d yy 'at' H:mm"}}</span></p>
            <ul ng-if="comment.comments">
                <md-divider></md-divider>
                <li ng-repeat="comment in comment.comments" ng-include="'commentTree'">
                </li>
            </ul>
        </script>
        <ul>
            <li ng-repeat="comment in post.comments | orderBy: selected.search : selected.reverse" ng-controller="AnswerListController">
                <div layout="row" layout-padding>
                    <div class="vote" layout="column" layout-align="start center">
                        <md-button ng-click="voteUp()" aria-label="Vote Up"><md-icon ng-class="{green: votedUp}" md-menu-origin md-svg-icon="navigation:ic_arrow_drop_up_24px"></md-icon></md-button>
                        <span>{{comment.votes}}</span>
                        <md-button ng-click="voteDown()" aria-label="Vote Down"><md-icon ng-class="{red: votedDown}" md-menu-origin md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon></md-button>
                    </div>

                    <div class="answer" layout-padding>
                        <div ng-show="!editing" ng-bind-html="comment.text"></div>
                        <form ng-show="editing" method="post">
                            <textarea ui-tinymce="tinymceOptions" ng-model="commentText"></textarea>
                            <md-button class="md-raised" ng-click="save(commentText)">Save</md-button>
                            <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
                        </form>
                        <div layout="row" layout-align="space-between start">
                            <a class="gray md-caption" ng-show="mayEdit" ng-click="edit()">edit</a>
                            <div class="usercard" layout="column">
                                <span class="date">answered {{comment.date | date:"MMM d yy 'at' H:mm"}}</span>
                                <div layout="row">
                                    <img ng-src="http://localhost:3000/profile/pic/{{comment.user.picture}}" class="md-avatar" alt="{{comment.user.username}}" />
                                    <a class="user" ui-sref="profiles.detail({username: comment.user.username})"> {{comment.user.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <md-divider></md-divider>
                <ul ng-if="comment.comments">
                    <li ng-repeat="comment in comment.comments" ng-include="'commentTree'"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="answer" ng-controller="CommentController">
        <div class="md-title">Your Answer</div>
        <p></p>
        <form method="post">
            <textarea ui-tinymce="tinymceOptions" ng-model="newComment"></textarea>
            <div ng-show="loggedIn">
                <md-button class="md-raised" ng-click="save()">Send</md-button>
                <md-button class="md-raised md-warn" style="background-color: #01579b" ng-click="cancel()">Reset</md-button>
            </div>
            <div ng-show="!loggedIn">
                <p>You have to login!</p>
                <md-button class="md-raised md-primary" ng-click="showLoginDialog()">Login</md-button>
            </div>
        </form>
    </div>

</div>
