<div ng-app="myapp.profiles" id="profileWrapper" layout-padding profile>

    <div layout="row" ng-if="mayEdit" ng-cloak>
        <md-button>Profile</md-button>
        <md-button ui-sref="profiles.posts({username: profile.username})">Own Posts</md-button>
        <md-button ui-sref="profiles.songs({username: profile.username})">Own Songs</md-button>
    </div>

    <div class="center">
        <md-menu class="tool-buttons" ng-if="mayEdit" ng-disabled="!mayEdit" ng-cloak>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Post-Toolbar"><md-icon md-menu-origin md-svg-icon="action:ic_settings_24px"></md-icon></md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="edit()" aria-label="Edit Request">Edit<md-icon md-menu-origin md-svg-icon="editor:ic_mode_edit_24px"></md-icon></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div layout="column">
        <div layout="row">
            <div layout="column" id="pic">
                <md-button class="round-button" ng-click="uploadPictureDialog()" aria-label="Upload Picture" ng-cloak>
                    <img ng-src="http://localhost:3000/profile/pic/{{profile.picture || 'defaultperson.png'}}">
                </md-button>
                <div id="ratingInfo">
                <p class="md-body-1">Rating: {{profile.rating}}</p>
                <star-rating ng-model="profile.rating" readonly="true"></star-rating></div>
            </div>

            <div flex layout="column" width="300px">

                <div class="md-display-1 md-primary md-accent">{{profile.username}}</div>
                <div ng-if="!editing">
                    <p class="md-body-1">Name: {{profile.name}}</p>
                    <p class="md-body-1">Birthday: {{profile.birthday | date:'dd.MM.yyyy'}}</p>
                    <p class="md-body-1">E-Mail: {{profile.email}}</p>
                </div>
                <div ng-if="editing" ng-cloak>
                    <p class="md-body-1">Name: <input ng-model="tempProfile.name" /></p>
                    <p class="md-body-1">Birthday: <md-datepicker ng-model="dt" ng-change="tempProfile.birthday = dt.toISOString()"></md-datepicker></p>
                    <p class="md-body-1">E-Mail: <input ng-model="tempProfile.email" /></p>
                </div>
                <p class="md-body-1">Points: {{profile.points}}</p>


                <div id='dv1' ng-controller="FrmController">
                    <form ng-show="mayDelete">
                            <textarea ng-model="txtcomment" id = "status" placeholder="Post your status here"></textarea>
                            <md-button class="md-raised md-primary" ng-click='btn_add();' layout-align="center end">POST</md-button>
                    </form>
                    <li id='list' ng-repeat="comnt in profile.status"> {{ comnt }} <a ng-show="mayDelete" href="" ng-click="remItem($index)">x</a></li>

                </div>

            </div>
        </div>
        <div ng-if="editing" layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click="save()">Save</md-button>
            <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
        </div>

        <div ng-if="!mayEdit" layout="column" layout-align="center center" id="profileWrapper1" ng-cloak>
            <div class="center">
                <h2>Requests</h2>
                <div ng-if="posts.length == 0">This user didn't make any requests!</div>
            </div>
            <md-list ng-if="posts.length > 0" id="vertical-container" flex>
                <md-list-item ng-repeat="post in posts | filter:{type: 'request'}" class="md-line" ui-sref="posts.detail({postId: post._id})" flex>
                    <div flex="100" layout="row" layout-align="space-between center">
                        <div flex="40" layout="column">
                            <span>{{post.text | stripTags | characters:50}}</span>
                            <span class="date">{{post.date | date:"MMM d yy 'at' H:mm"}}</span>
                        </div>
                        <h4 ng-if="post.type == 'request'">{{post.comments.length}} answer{{post.comments.length != 1 ? 's' : ''}}</h4>
                        <span ng-if="post.type == 'request'"><star-rating ng-model="post.rating" readonly="true"></star-rating> {{post.rating}}</span>
                        <h4 ng-if="post.type == 'comment'">Voting score: {{post.votes}}</h4>
                    </div>
                </md-list-item>
            </md-list>

        </div>
    </div>
</div>
