<div layout="row" layout-padding profile>
    <div flex>
        <md-button class="round-button" ng-click="uploadPictureDialog()" ng-cloak>
            <img ng-src="http://localhost:3000/profile/pic/{{profile.picture || 'default'}}">
        </md-button>
        <div class="md-display-1 md-primary md-accent">{{profile.username}}</div>
        <p class="md-body-1">Name: {{profile.name}}</p>
        <p class="md-body-1">Birthday: {{profile.birthday | date:'dd.MM.yyyy'}}</p>
        <p class="md-body-1">Rating: {{profile.rating}}</p>
        <p class="md-body-1">E-Mail: {{profile.email}}</p>
        <p class="md-body-1">Points: {{profile.points}}</p>
        <p class="md-body-1">Songs: {{profile.songs.length == 0 ? 'No songs': ''}}</p>
        <div layout="column" layout-align="center stretch">
            <md-card mv-song-card class="mv-card" song="song" ng-repeat="song in profile.songs"></md-card>
        </div>

        <p class="md-body-3">Buy Songs</p>
        <p class="md-body-1">{{profile.points < 100 ? 'Not enough points' : 'Get these:'}}</p>
    </div>
</div>