<div layout="row">
<md-card-title>
    <md-card-title-text>
        <div class="track-info" layout="row" layout-align="space-between center">
            <h4 flex="40">Artist: {{ song.artist }}</h4>
            <h4 flex="40">Title: {{song.title }}</h4>
        </div>
    </md-card-title-text>
    <md-card-title-media>
        <img class="mv-card-pic" ng-src="{{song.posters.thumbnail}}" />

    </md-card-title-media>
</md-card-title>
<md-card-actions layout="row" layout-align="end center">
    <md-button class="md-ink-ripple md-accent" style="color: black" target="_blank" ng-href="{{song.url}}">
        Download
    </md-button>
</md-card-actions>
</div>
